.button {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5px 10px;
    -fx-transition: 0.3s;
    -fx-background-color: #2e2e2e;
}

.acceptButton {
    -fx-background-color: #3a7d44;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.cancelButton {
    -fx-background-color: #d73f3f;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-border-radius: 3px;
    -fx-border-color: white;
}

.main-button {
    -fx-background-color: #2e2e2e;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 6;
    -fx-padding: 5 15;
    -fx-border-width: 1;
    -fx-border-radius: 6;
}

.main-button .label {
    -fx-text-fill: white;
}

.menu-item {
    -fx-text-fill: white;
    -fx-background-color: #3e3e3e;
    -fx-font-size: 13px;
}

.menu-item:focused,
.menu-item:hover,
.menu-item:selected {
    -fx-text-fill: white;
    -fx-background-color: #444444;
}

.context-menu {
    -fx-background-color: #2e2e2e;
    -fx-border-color: transparent;
    -fx-effect: none;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
